Gestor_expedientes/ejercicio_1/expediente.dtd

<!ELEMENT expediente (cliente, fechaInicio, fechafin?, procuradores)>
<!ATTLIST expediente id NMTOKEN #REQUIRED>
<!ATTLIST expediente estado (en_tr치mite | finalizado | archivado) #REQUIRED>
<!ELEMENT cliente (dni, nombre, direcci칩n)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direcci칩n (#PCDATA)>
<!ELEMENT fechaInicio (#PCDATA)>
<!ELEMENT fechaFin (#PCDATA)>
<!ELEMENT estado (#PCDATA)>
<!ELEMENT procuradores (procurador, procurador?, procurador?)>
<!ELEMENT procurador (dni, nombre, direcci칩n)>
b